/*#header-areas{*/
/*    display: grid;*/
/*    gap: 50px;*/
/*    grid-template-columns:  auto auto auto;*/
/*    padding: 10px;*/
/*    background-color: #493843;*/
/*}*/

/*#footer-areas{*/
/*    display: grid;*/
/*    gap: 50px;*/
/*    grid-template-columns:  auto auto auto;*/
/*    padding: 100px;*/
/*    !*background-color: #493843;*!*/
/*}*/
#user-space {
    /*background-color: #493843;*/

}
#search-space {
    background-color: #493843;

}
#menu-space {
    background-color: #493843;
    position: relative;
    display: inline-block;
}
#menu-button {
    background-color: #71816D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#menu-area {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
#menu-space:hover #menu-area{
    display: block;
}
#menu-space:hover #menu-button{
    background-color: #71816D;
}
/*button{*/
/*    padding: 20px;*/
/*    margin-top: 50px;*/
/*    width:100px;*/
/*    !*background-color: #DA667B;*!*/
/*}*/
.searchbar {
    padding: 20px;
    width:500px;
    background-color: #86a37d;

}

