
#productsArea {
    display: grid;
    gap: 100px;
    grid-template-areas:'filter books books books books';
    padding: 150px;
    background-color: #CDF7F6;

}
#addsArea {
    background-color: #6A605C;
    padding: 150px;
}

#filterArea {
    background-color: #ffd4d4;
    grid-area: filter;


}
#booksArea{
    background-color: #ff858d;
    grid-area: books;


}
.book {
    background-color: #9999ef;
}