
#products-area {
    display: grid;
    gap: 100px;
    grid-template-areas:'filter books books books books';
    padding: 150px;
    background-color: #F1E0C5;

}
#adds-area {
    background-color: #C9B79C;
    padding: 150px;
}

#filter-area {
    background-color: #ffd4d4;
    grid-area: filter;


}
#books-area{
    background-color: #ff858d;
    grid-area: books;


}
.book {
    background-color: #9999ef;
}