
#products-area {
    display: grid;
    gap: 100px;
    grid-template-areas:'filter books books books books';
    padding: 150px;
    background-color: #C0C0C0;

}
#adds-area {
    width: 80%; /* for example */
    margin: auto;
}

#filter-area {
    background-color: #2c5f95;
    grid-area: filter;
    padding:35px;
    border-radius: 25px;
    border: 5px solid #99efdf;
    color: #333333;
    font-style: italic;
}
#books-area{
    background-color: #97a3d6;
    grid-area: books;
    padding:35px;
    border-radius: 25px;
}
.book {
    background-color: #9999ef;
}