#cart-area {
    display: grid;
    gap: 50px;
    grid-template-areas:
            'blankarea blankarea blankarea'
            'blankarea container blankarea'
            'blankarea blankarea blankarea';
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #496F5D;
    overflow: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    width: auto;

}
.container-button{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    margin-right: 150px;
}
.blankarea {
    grid-area: blankarea;
}