/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
}

.cartItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookDetails {
    width: 100%; /* Ensure the container takes full width */
    padding: 20px; /* Optional padding */
}

.table {
    width: 100%;
    border-collapse: collapse;
}