
.userPage {
    display: grid;

    grid-template-areas:
            'blankarea blankarea blankarea'
            'blankarea container blankarea'
            'blankarea blankarea blankarea';
    padding-top: 200px;
    padding-bottom: 50px;
    background-color: #496F5D;
    overflow: auto;
}
.userPageH1{
    font-style: italic;
    font-size: 50px;
    margin-left: 500px;
    display: flex;
    justify-content: center;
    color: #523744;
}
.button-container{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
}
.blankarea {
    grid-area: blankarea;
}


.userDetails {
    background-color: #C9D5B5;
    margin: 50px;
    padding: 50px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header header"
        "col1 col2";
    gap: 20px;
    overflow: auto;
}

.userDetails .userPageH1 {
    grid-area: header;
    font-style: italic;
    font-size: 70px;
    color: #523744;
    margin-left: 50px;
    justify-content: left;
    display: flex;
}

.userDetails .col1 {
    grid-area: col1;
    border: 2px solid #496F5D;
    padding: 25px;
}

.userDetails .col2 {
    grid-area: col2;
    border: 2px solid #496F5D;
}

.userDetails .col1 h1 {
    font-style: italic;
    font-size: 80px;
    display: flex;
    justify-content: left;
}

.userDetails .col2 h1 {
    font-style: italic;
    font-size: 50px;
    display: flex;
    justify-content: left;
    color: #476d5b;
}

.userDetails .col1 p {
    font-style: italic;
    font-size: 50px;
    display: flex;
    justify-content: left;
    color: #3a5749;
}




.miniViewContainer{
    display: grid;
    grid-template-columns: auto;
    margin:10px;
    padding: 20px;

}
.miniViewContainer p{

    margin:1px;


}